@media only screen and (max-width:1024px) {
  .page-1-body .pbody-left{
    width: 40%;
  }
  .pbody-left h6{
    font-size: 70px;
  }
  .pbody-left h1{
    font-size: 70px;
  }
  .page-1-body .page-body-right{
    width: 60%;
  }
  .cardl img:nth-child(1) {
    width: 60%;
    margin-top: 10vh;
    margin-left: 20vh;
  }
  .cards{
    flex-direction: column;
  }
  .cardl img:nth-child(2) {
    height: 55vh;
    margin-left: -5vh;
    margin-top: 5vh;
  }
  .cardr{
    margin-top: 5vh;
  }
  .cardr h6 {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -1px;
    margin-bottom: 5px;
  }
  .cardr h1 {
    font-size: 50px;
    letter-spacing: -1px;
    margin-top: -40px;
    font-weight: 500;
  }
  .cardr button {
    font-size: 12px;
    padding: 8px 12px;
  }
  .cardr span {
    font-size: 50px;
  }
  .page-cards .cards4 {
    margin-top: -30vh;
  }

  .page-cards .cards4 .cardr span {
    display: none;
  }
  .page-cards .cards4 .cardr h6 {
    margin-top: -5vh;
  }
  .page-cards .cards4 .cardr h1 {
    font-size: 35px;
    margin-top: -5vh;
  }
  .page-cards .cards4 .cardr button {
    display: none;
  }
  .slider1{
    height: 70%;
  }
  .slider1 .slide img {
    height: 250px;
    width: 150px;
  }
  .p5-content{
    width: 31%;
  }
}

@media only screen and (max-width:768px) {
  /* .page-cards .cards4 .cardr h1 {
    font-size: 20px;
  } */
  .slider1{
    height: 90%;
    margin-left: 10px;
  }

  .p7-sec1 .slider1:nth-child(3){
    display: none;
  }
  .slider1 .slide img {
    height: 250px;
    width: 150px;
  }
  .p7-sec2-content button {
    font-size: 12px;
    /* text-wrap: nowrap; */
    width: 22vw;
  }
  .p2-bottle {
    height: 50vh;
  }
  .p2-img {
    position: relative;
  }

}


@media only screen and (max-width:600px) {
  .loader img {
    margin-top: 20vh;
    height: 40vh;
  }
  .loader > .content {
    text-align: center;
    margin: auto;
    margin-top: 10vh;
  }
  .loader h1 span {
    font-size: 6vh;
  }
  .loader .content2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15vh;
  }
  .page7{
    height: 80vh;
  }
  .p7-sec1 .slider1 img{
    margin-left: 470px;
  }
  .slider1 .slide img {
    height: 220px;
    width: 130px;
  }
}


@media only screen and (max-width:500px) {
  .loader img {
    display: flex;
    flex-direction: row;
  }
.p8-img2 img {
display: none;
}
  .p8-mail img {
  display: none;

}

  .loader > .content {
    text-align: center;
    margin: auto;
    margin-top: 6vh;
    margin-left: 3vh;
    margin-bottom: 3vw;
  }
  .loader h1 span {
    font-size: 5vh;
  }
.p8-logo{
  margin-top: 10vw;
  margin-bottom: -14vw;
}
  .pbody-left {
    display: none;
  }
  .page-body-right{
    width: 100%;
  }
  .page-body-right .cards .cardl {
    width: 60%;
  }
  .cards1 {
    margin-top: 2vh;
  }
  .page-body-right .cards .cardl img {
    height: 50vh;
    margin-left: 7vh;
  }
  .page-body-right .cardr {
    display: none;
  }
  .cardl img:nth-child(1){
    width: 40vh;
    margin-top: 10vh;
    margin-left: 10vh;
    z-index: 9;
  }
  .cardl img:nth-child(2) {
    position: absolute;
    height: 65vh;
    right: 35%;
    top: 10%;
    z-index: 1111;
    margin-right: -25vh;
  }
  /* ---- */
  .cards2{
    margin-top: -200vh;
  }
  .cards3{
    margin-top: -200vh;
  }
  .cards4{
    margin-top: -200vh;
  }
  .p7-sec1 .slider1:nth-child(3){
    display: block;
  }
  .page5 img {
    height: 40vh;
    z-index: 999;
    /* margin-left: 15rem; */
  }
  .page5{
    flex-direction: column;
  }
  .p5-content{
    display: none;
  }
  .page5>p{
    display: block;
    font-size: 5vh;
    margin-top: 5vh;
  }
  .page3{
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .p3-box1{
    margin-top: 5vh;
    width: 90%;
  }
  .p3-text {
    font-size: 7vw;
    font-weight: 300;
  }
  .p3-para {
    font-size: 2.5vw;
    letter-spacing: 0.2vh;
    line-height: 3vw;
  }

  .p3-btn {
    width: 30vw;
    text-align: center;
  }
  .page3-box2{
    width: 65%;
    margin-top: -10vh;
  }
  .page2{
    display: flex;
    flex-direction: column;
  }
  .p2-text{
    font-size: 7vw;
  }
  .p2-text:nth-child(2){
    margin-top: -8vh;
  }
  .p2-box2{
    margin-top: -10vh;
    font-size: 2.5vw;
    width: 80%;
  }
  .p2-box2 p:nth-child(1){
    font-size: 2vw;
  }
  .page5 img {
    height: 40vh;
    z-index: 999;
    margin-left: 10rem;
  }
  .p2-bottle {
    height: 40vh;
  }
  .page5{
    height: 80vh;
  }
  .page5 img {
    display: flex;
    align-items: center;
    margin-right: 10vh;
    margin-top: 12vh;
  }
  .p6-img {
    height: 300px;
    margin-left: -1vh;
  }
  .p6-content {
    width: 100%;
  }
  .no :nth-child(1) {
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
  }
  .no :nth-child(2) {
    width: 80%;
    font-size: 2rem;
    margin-left: -33vh;
  }
  .p6-para{
    font-size: 2vw;
  }
  .trink{
    font-size: 3vw;
  }
  .p6-content button {
    font-size: 12px;
    font-weight: 200;
    padding: 0.7rem;
    border: none;
    width: 13rem;
    border-radius: 10px;
  }
  .p6-content img {
    height: 45px;
    width: 200px;
  }
  .slider1:nth-child(1){
    display: none;
  }
  .slider1:nth-child(2){
    display: none;
  }
  .slider1:nth-child(3){
    margin-right: 80vh;
  }
  #elem {
    height: 90px;
  }
  .p7-sec2-content{
    width: 90%;
    margin-left: -10vh;
  }
  .p7-sec2-content :nth-child(1)  {
    font-size: 6vw;
    margin-top: -8vh;
    line-height: 5vh;
  }
  .p7-p {
    font-size: 2.5vw;
  }
  .p7-sec2-content button {
    font-size: 10px;
    width: 30vw;
    text-wrap: nowrap;
  }
  .page8{
    height: 70vh;
  }
  .page8 span {
    font-size: 3vw;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    display: block;
    height: 2.4rem;
    width: 10vh;
    margin-top: 10vh;
    margin-left: -15vh;
  }
  .page8 input{
    width: 80%;
  }
  .page8 img{
    margin-left: -15vh;
    height: 80px;
    margin-top: 6.5vh;
  }
  .p8-sec2{
    display: flex;
  }
  .p8-sec2 p {
    font-size: 10px;
  }
  .p8-img2  {
    height: 5vh;
    flex-direction: column;
  }
  .p8-mail:nth-child(1){

  }
}


@media only screen and (max-width:420px) {
  .loader img {
    height: 40vh;
  }
  .loader > .content {
    text-align: center;
    margin: auto;
    margin-top: 6vh;
    margin-left: 1vh;
  }
  .loader h1 span {
    font-size: 4.5vh;
  }
  .loader .content2{
    margin-left: -5vh;
  }
    .p6-img {
  transform: rotate(-180deg);
}
}
@media only screen and (max-width:450px) {
  
  .p8-img{
    height: 2vh;
    margin-right: 18vw;
  }
  .p6-content button{
    margin-left: -4vw;
  }
  .page5 img {
    width: 80%;
    height: 65vw;
    margin-right: 30vw;

  }
  .no p{
    font-size: -1vw;
    margin-right: 15vw;
  }
  .page6{
    gap: 1vw;
    padding-right: 10vw;
  }
  .p6-content img{
    margin-top: -10vw;
  }
  .p6-content h6{
    margin-right: 35vw;
  }
  .p6-date{
    margin: 5vw 0vw;
  }
  .swiper-slide{
    height: 70%;
  }
  .p3-btn{
    font-size: 10px;
  }
  .p3-para{
    font-size: 10px;
    line-height: 12px;
  }
  .p2-box2{
    margin-bottom: 4vw;
    font-size: 10px;
  }
  .p2-text2{
   font-weight: bold;
   font-size: 10px;
   text-decoration: underline;
  }
.page-body-right{
  display: none;
}
.pbody-left{
  display: block;
}
.pbody-left p{
  width: 90vw;
  font-size: 6vw;
  font-weight: 400;
}
.p2-bottle{
  height: 35vh;
}
.sld{
  padding-left: 20vw;
}
.p7-sec2{
  margin-left: 12vw;
  width: 100vw;
}
.p7-sec2-content .p7-p{
  width: 50vw;
  font-size: 15px;
}
.p7-sec2-content button{
  width: 50vw;
}
.page7{
  gap: 6vw;
  /* padding: 1vw; */
}
.p8-logo{
  margin-top: 33vw;
}
.page8 span{
  margin-top: 18vw;
}
/* .p2-img{
  height: 52%;
} */
 .p2-box1{
  display: flex;
  flex-direction: column;
  gap: 6vw;
 }
  .p6-img {
  transform: rotate(-180deg);
}
}
